@import './themeVariables';

table  {
    border-collapse: collapse;
    font-size: 0.8em;
    width: 100%;

    thead tr {
        background-color: transparent;
        color: $primary-color;
        font-weight: 600;
        border-bottom: 1px solid darken($secondary-color, 5%);
    }

    th,td{
        padding: 8px 4px;
        text-align: left;
        margin-right: 0px 20px;

        &.right{
            text-align: right;
        }

        &.center{
            text-align: center;
        }
    }

    tbody tr {
        border-bottom: 1px solid darken($secondary-color, 5%);
        color: $primary-color-600;

        &:hover{
            background-color: lighten($secondary-color, 55%);
            cursor: pointer;
        }
    }

    td[contenteditable]:focus {
        outline: 0px;
        border: 2px solid $primary-color;
    }

}